.visual-componentselected {
    position: relative;
    /* border: 10px solid lightgreen; */
}
.visualui-componentselected::after {
    content: ' ';
    border: 1px dashed #2680EB;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
}
  