@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as desired */
}

/* Style the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color as desired */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
