.rcw-launcher {
    margin:20px;
    background-color: var(--color7) !important;
}

.rcw-conversation-container {
    background-color: var(--color7) !important;
}

.rcw-header {
    background-color: var(--color7) !important;
}

.rcw-message-text {
    background-color: var(--color4) !important;
}

.rcw-picker-btn {
    display: none;
}

.rcw-new-message {
    width: 100% !important;
    margin-right: 15px;
}

.rcw-sender {
    align-items: center !important;
}

.rcw-send {
    margin-top: 5px;
}

.rcw-messages-container {
    overflow-y: auto !important;
}

.rcw-launcher {
    display:flex;
    align-items: center !important;
    justify-content: center !important;
}