.chonky-chonkyRoot {
    background-color: transparent !important;
    border: 0px solid black !important;
    font-family: Inter !important;
}

.chonky-gridContainer {
    margin-top: 40px !important;
}

.chonky-activeButton .chonky-text {
    color: var(--color6) !important;
}

.chonky-activeButton .svg-inline--fa {
    color: var(--color7) !important;
}

.chonky-text {
    color: var(--color) !important;
}

[class^="fileIcon-"] {
    color: var(--color7) !important;
}

.chonky-selectionSizeText {
    color: var(--color7) !important;
}

[class^="listFileEntryProperties-"] {
    display: none !important;
}


[class^="previewFile-"] {
    /* display: none !important; */
    width: 120px !important;
    align-self: center;
    background-color: transparent !important;
}

[class^="folderBackSideTop-"]::after {
    /* tus estilos aquí */
    border-color: transparent !important;
}

[class^="folderBackSideMid-"] {
    width: 100px !important;
    height: 70px !important;
    left: 10px !important;
    top: 20px !important;
    border-radius: 5px !important;
}


[class^="focusIndicator-"] {
    box-shadow: red !important;
    /* background-color: black; */
    /* opacity: 0.9; */
}


/* .chonky-searchFieldContainer {
    width: fit-content !important;
} */
[class^="listFileEntrySelection-"] {
    background: none !important;
    /* background-color: red !important */
}

.chonky-fileEntryClickableWrapper {
    cursor: pointer
}

.MuiPopover-paper {
    margin-top: 40px !important;
}

.MuiMenuItem-root {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.MuiInputBase-root {
    border-radius: 12px !important;
}

.chonky-toolbarRight {
    display: flex;
    gap: 12px;
}

.MuiButton-label {
    font-family: Inter !important;
    font-weight: 400 !important;
    font-size: 15px;
    gap: 12px;
}

.MuiButtonBase-root {
    border-radius: 20px !important;
    padding: 20px !important;
}

.MuiPaper-root {
    border-radius: 10px !important;
}

.MuiPaper-root .MuiButtonBase-root {
    border-radius: 0px !important;
    padding: 20px !important;
}

[class^="listFileEntry-"] {
  box-shadow: none !important;
  border-bottom: 1px solid var(--gray7) !important;
}

.MuiPaper-elevation2 {
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.07) !important;
}

.MuiTypography-body1 {
    font-family: Inter !important;
    font-weight: 500 !important;
    font-size: 15px;
    color: var(--color7);
}

.MuiFormControl-root {
    width: 300px !important;
}